.modal__form{
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;
}

.modal__title{
    font-size: 40px;
    font-weight: 700;
}

.inputs{
    width: 422px;

    border:  1px solid rgba(0, 0, 0, 0.3);

    background-color: var(--color-white);

    padding: 10px;

    font-size: 16px;
    font-weight: 400;
}

.button__modal{
    width: 100%;

    padding: 10px;

    border:  1px solid rgba(0, 0, 0, 0.3);

    background-color: var(--color-blue);
    color: var(--color-white);

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}

.close__modal{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 17px;
    height: 17px;

    border-color: transparent;

    background-color: transparent;

    position: absolute;
    right: 10px;
    top: 10px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
}

