.username__container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    margin-top: 20px;

    border: 2px solid rgba(0, 0, 0, 0.096);

    width: 100vh;

    padding: 15px 25px 15px 25px;
}

.username__profile{
    display: flex;
    gap: 100px;

    font-size: 22px;
}

.username{
    font-weight: bold;
    font-size: 30px;
}

.button__editar{
    display: flex;
    align-items: center;

    background-color: transparent;

    border-color: transparent;

    width: 30px;
    height: 30px;
    
    cursor: pointer;
}

.edition__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}