@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Libre+Baskerville&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;400&display=swap');

:root {
    --color-blue:  #4200FF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red:   #CE4646;
    --color-green: #4BA036;
    --color-grey-1:  #343a40;
    --color-grey-2:  #7C8B99;
    --color-grey-3:  #dee2e6;
    --color-grey-4:  #e9ecef;
    --color-grey-5:  #f1f3f5;
}

body{
    font-family: 'Inter', sans-serif;
}