header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100vh;

    margin: 0 auto;
    padding: 25px 0px 25px 0px;

    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
    
}

.name__header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.eclipse{
    width: 12px;
    height: 12px;
}

.name__companie{
    font-size: 20px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 12px;
}

.home__header{
    font-size: 18px;
    font-weight: bold;

    padding: 9px 35px;

    color: var(--color-blue);
    background-color: var(--color-white);

    border: solid 1px var(--color-blue);

    cursor: pointer;

}

.login__header{
    font-size: 18px;
    font-weight: bold;

    padding: 9px 35px;

    color: var(--color-white);
    background-color: var(--color-blue);

    border-color: transparent;

    cursor: pointer;

}

.hidden{
    display: none;
}

.mobile__organization{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 800px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        
        padding-left: 20px;
        padding-right: 40px;
    }

    .home__header{
        display: inherit;
    }

    .login__header{
        display: inherit ;
    }

    .button__hidden{
        display: none;
    }

    .hidden{
        display: flex
    }
    .mobile__organization{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}